body {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

ul {
  list-style: none;
  float: left;
}

li {
  position: relative;
}

h1.title {
  text-align: center;
}

.container {
  __width: 100%;
  padding: 40px;
  height: 800px;
  background-color: #000;
  __text-align: center;
  position: relative;
}

.insult-me {
  font-size: 24px;
  margin: 20px auto;
  display: block;
}

.insult {
  font-size: 36px;
  padding: 5px 20px;
  color: #fff;
  text-align: center;
  margin-right: 320px;
}

/** Ads **/
.leaderboard {
  text-align: center;
  height: 90px;
}

.skyscraper {
  position: absolute;
  width: 300px;
  right: 40px;
  top: 160px;
}
