<!DOCTYPE html>
<html>
  <head>
    <title>Monty Python Insult Generator</title>
    <link href="/static/style/main.css" rel="stylesheet" type="text/css">
    <link href="/static/style/buttons.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script data-main="/static/scripts/main" src="{{ url_for('static', filename='scripts/lib/require.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">

    <meta property="og:url" content="http://www.montypythoninsults.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Monty Python Insult Generator"/>
    <meta property="og:title" content="Generate a Monty Pythonesque Insult" />
    <meta property="og:description" content="Monty Python Insults are Only the Silliest. That's what you'll find on this page. Only the silliest insults." />
    <!--<meta property="og:image" content="{{ url_for('static', filename='img/bg2.jpg', _external=True) }}" />-->
    <meta property="og:image" content="http://montypythoninsults.com/static/img/fbshare.jpg" />
    <meta property="fb:app_id" content="{{ '1084117374961782' if config.DEBUG else '1083266555046864' }}" />

    <script type="text/javascript">
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
    var gads = document.createElement("script");
    gads.async = true;
    gads.type = "text/javascript";
    var useSSL = "https:" == document.location.protocol;
    gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
    var node =document.getElementsByTagName("script")[0];
    node.parentNode.insertBefore(gads, node);
    })();
    </script>
    <script>
    googletag.cmd.push(function() {
      googletag.defineSlot("/59049904/MPI_Home_Header", [728, 90], "leaderboard")
        .addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
    </script>
  </head>
  <body>
    <div id="leaderboard" class="leaderboard">
      <script type="text/javascript">
        googletag.cmd.push(function() { googletag.display("leaderboard"); });
      </script>

      {# adsense ##
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- MPI Leaderboard -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-8391156267500360"
           data-ad-slot="7987021731"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      #}
    </div>
    <h1 class="title">Monty Python Insult Generator</h1>
    <div class="container">
      <button id="insult-me" class="insult-me">Insult Me</button>
      <div id="insult" class="insult" style="display:none;">
        <span></span>
        <div class="social-buttons">
          <button class="social-button button-facebook">Share on Facebook</button>
          <button class="social-button button-twitter">Share on Twitter</button>
        </div>
        <div class="god"></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
  <script id="mainTemplate" type="text/template">
  </script>
  <script>
    var base_url = "{{ request.base_url }}";
    //var og_image_url = "{{ url_for('static', filename='img/bg2.jpg', _external=True) }}";
    var og_image_url = "http://montypythoninsults.com/static/img/fbshare.jpg";
    var appID = "{{ '1084117374961782' if config.DEBUG else '1083266555046864' }}";
    window.fbAsyncInit = function() {
      FB.init({
        appId      : appID,
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "http://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</html>
